* {
    margin: 0;
}

:root {
    --main-color: #ff8733;
    --secondary-font-size: 1.4rem;
}
html{
    scroll-behavior: smooth;
}
nav {
    height: 55px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: drop 2s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-100px);
    position: fixed;
    top: 0;
    z-index: 10;

    h1 {
        font-size: 2.6rem;
        margin-left: 30px;
    }

    .links {
        height: 100%;
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 50px;

        a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 1.4rem;
        }
    }
}

@keyframes drop {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        h1 {
            font-size: 9vw;
            color: var(--main-color);
        }

        h2 {
            font-size: 4vw;
            text-align: center;
        }
    }
}

.prof-img {
    height: 80%;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.566));
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        padding: 30px;
        text-align: center;
    a{
        position: relative;
        top: 30px;
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        padding: 8px 32px;
        background-color: #52525e;
        border-radius: 15px;
    }
    a:hover{
          color: #52525e;
    }
    }
}

.stick {
    background-color: var(--main-color);
    color: white;
    font-size: 3rem;
    padding: 5px 20px;
    display: inline;
    border-radius: 0px 10px 10px 0px;
}

.one {
    position: sticky;
    bottom: 300px;
    left: 0;
}
.two{
    position: sticky;
    bottom: 300px;
    left: 0;
}

.skill {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skill .soft-lang {
    height: 300px;
    width: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px rgba(211, 211, 211, 0.422) solid;
    padding: 10px 20px;
    /* background-color: aquamarine; */

    h2 {
        background-color: var(--main-color);
        padding: 5px 10px;
        color: white;
        border-radius: 10px;
    }

    .tab {
        /* margin-left: 100px; */
        height: 40px;
        /* background-color: chartreuse; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            height: 100%;
        }

        p {
            font-weight: 700;
        }
    }
}

.skill .soft-lang:hover {
    outline: 1px rgba(0, 0, 0, 0.357) solid;
    transition: all .1s linear;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.49);
}
/* Project */
.project{
    min-height: 100vh;
    width: 100%;
    /* background-color: cadetblue; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.project>.all-projects{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: #EFE4D2; */
}
.all-projects>.proj-container{
    /* height: 100%; */
    width: 35%;
    /* border: #52525e solid; */
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
     transition: all 0.5s ease-in-out;
}
.all-projects img{
    width: 100%;
}
.proj-container .proj-details{
    /* display: none; */
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #52525e6b;
    color: white;
    padding: 30px 0px;
    h2{
        font-size: 2.3rem;
    }
    p{
        font-size: 1.3rem;
    }
   
}
.proj-details .btns{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    svg{
        height: 30px;
        width: 30px;
    }
    a{
        background-color: #ff8833a8;
        padding: 8px 32px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:hover{
        background-color: var(--main-color);
    }
}
.proj-container:hover .proj-details{
    opacity: 1;
}
.proj-details:hover{
    backdrop-filter: blur(3px);
}



/* Mobile */
@media screen and (max-width:767px) {
    * {
        color: #EFE4D2;
    }

    body {
        background-color: #52525e;
    }

    nav {
        background-color: #52525e;
        height: fit-content;
        flex-direction: column;

        h1 {
            text-align: center;
        }

        .links {
            flex-direction: column;
            gap: 5px;

            a {
                background-color: hsl(237, 16%, 24%);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100%;
                box-shadow: 0px 0px 5px 5px black inset;
            }
        }
    }

    .home {
        flex-direction: column;

        img {
            height: 60%;
        }
    }

    .about {
        flex-direction: column-reverse;
    }

    .one {
        position: relative;
        transform: translate(15px,13px);
        
    }
    .two{
        position: sticky;
        transform: translate(15px,13px);
    }
    .skill{
        gap: 20px;
        height: fit-content;
        flex-direction: column;
    }
}
/* Contact */
.contact{
    height: 91.5vh;
    width: 100%;
    background-color: #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact>.contact-wrapper{
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.contact-wrapper>.left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #52525e63;
}
.contact-wrapper .left-top{
    height: 70%;
    width: 100%;
    display: grid;
    place-items: center;
}
.contact-wrapper .left-bottom{
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-bottom img{
    height: 40px;
}
.contact-wrapper>.right{
    height: 100%;
    width: 50%;
     display: flex;
        align-items: center;
        justify-content: center;
    form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        input{
            padding: 0px 10px;
            font-size: 1.2rem;
            height: 40px;
            width:70% ;
            border: 1px solid;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            background-color: transparent;
            outline: none;
        }
        input:focus{
            border: #ff8733 solid 2px;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            background-color: transparent;
        }

        textarea{
            font-size: 1.2rem;
            padding: 0px 10px;
            height: 170px;
            width: 70%;
            border: 1px solid;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            background-color: transparent;
            outline: none;
            resize: none;
        }
        textarea:focus{
            border: #ff8733 solid 2px;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            background-color: transparent;
        }
        button{
            text-transform: uppercase;
            font-size: 1.2rem;
            height: 50px;
            width: 73%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ff8833d8;
            border: none;
        }
        button:hover{
            background-color: var(--main-color);
            transform: scale(1.05);
            transition: all .2s ease-in;
        }
    }
}